[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=2

[{*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=4

[*.json]
indent_style=space
indent_size=2

[*.properties]
indent_style=space
indent_size=4

[.editorconfig]
indent_style=space
indent_size=4

[{*.pyw,*.py}]
indent_style=space
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[{*.markdown,*.md,*.mkd}]
indent_style=space
indent_size=4

