[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=2
ktlint_standard_import-ordering = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_annotation = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_package-name = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable

[{*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=4

[*.json]
indent_style=space
indent_size=2

[*.properties]
indent_style=space
indent_size=4

[.editorconfig]
indent_style=space
indent_size=4

[{*.pyw,*.py}]
indent_style=space
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[{*.markdown,*.md,*.mkd}]
indent_style=space
indent_size=4

