language: android

jdk: oraclejdk8

android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - platform-tools
    - tools
    - tools

    - platform-tools
    # The BuildTools version used by your project
    - build-tools-25.0.0
    
    # The SDK version used to compile your project
    - android-24
    # The support library
    - extra-android-m2repository

  licenses:
    - '.+'
