language: android

jdk: oraclejdk8

install:
  - pip install --user requests

android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - platform-tools
    - tools
    - tools

    - platform-tools
    # The BuildTools version used by your project
    - build-tools-25.0.0
    
    # The SDK version used to compile your project
    - android-24
    # The support library
    - extra-android-m2repository


before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

licenses:
  - '.+'

script:
  - ./gradlew build testdroidUploadKiwix
  - ./testdroid.py
