<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.kiwix.kiwixmobile"
  android:installLocation="auto"
  android:versionCode="46"
  android:versionName="2.2">

  <supports-screens
    android:anyDensity="true"
    android:largeScreens="true"
    android:normalScreens="true"
    android:resizeable="true"
    android:smallScreens="true" />

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
      android:name=".KiwixApplication"
      android:allowBackup="true"
      android:hardwareAccelerated="true"
      android:icon="@mipmap/kiwix_icon"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      android:supportsRtl="true">

    <activity
      android:name=".utils.SplashActivity"
      android:theme="@style/AppTheme.Launcher"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".KiwixMobileActivity"
      android:configChanges="orientation|keyboardHidden|screenSize|locale"
      android:label="@string/app_name">

      <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />

            <data android:scheme="content" />
            <data android:mimeType="application/octet-stream"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" />
        <data android:mimeType="*/*" />
        <data android:pathPattern=".*\\.zim" />
        <data android:pathPattern=".*\\..*\\.zim" />
        <data android:pathPattern=".*\\..*\\..*\\.zim" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zim" />
        <data android:host="*" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" />
        <data android:mimeType="*/*" />
        <data android:pathPattern=".*\\.zimaa" />
        <data android:pathPattern=".*\\..*\\.zimaa" />
        <data android:pathPattern=".*\\..*\\..*\\.zimaa" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zimaa" />
        <data android:host="*" />
      </intent-filter>
      
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zim(aa|)" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="https" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zim(aa|)" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="content" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zim(aa|)" />
      </intent-filter>
      <intent-filter android:label="@string/app_search_string">
        <action android:name="android.intent.action.PROCESS_TEXT"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/plain"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".ZimManageActivity"
      android:label="@string/choose_file">

      <!-- TODO -->
      <intent-filter>
        <action android:name="android.intent.action.GET_CONTENT" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.OPENABLE" />

        <data android:mimeType="*/*" />
      </intent-filter>

      <intent-filter>
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.TEXT_CLICKED" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.ICON_CLICKED" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.MIC_CLICKED" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.STAR_CLICKED" />
      </intent-filter>

    </activity>

    <activity android:name=".settings.KiwixSettingsActivity" />
    <activity android:name=".SearchActivity" />
    <activity android:name=".BookmarksActivity" />

    <provider
      android:name=".ZimContentProvider"
      android:authorities="org.kiwix.zim.base"
      android:exported="true" />

    <receiver android:name=".utils.KiwixSearchWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.TEXT_CLICKED" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.ICON_CLICKED" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.MIC_CLICKED" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.STAR_CLICKED" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/kiwix_widget_provider_info" />
    </receiver>


    <service android:name=".downloader.DownloadService" />

  </application>

</manifest>
