<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="org.kiwix.kiwixmobile">
      <supports-screens
android:largeScreens="true"
android:normalScreens="true"
android:smallScreens="true"
android:resizeable="true"
android:anyDensity="true"
/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17"/>	
    <application android:icon="@drawable/kiwix_icon" android:label="@string/app_name" android:allowBackup="true">
        <activity android:name=".KiwixMobileActivity"
                  android:label="@string/app_name" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          <intent-filter>
    			<action android:name="android.intent.action.VIEW" />
    			<category android:name="android.intent.category.DEFAULT" />
    			<data android:scheme="file" />
    			<data android:host="*" />
    			<data android:pathPattern=".*\\.zim.*" />
    			<data android:pathPattern=".*\\..*\\.zim.*"/>
    			<data android:pathPattern=".*\\..*\\..*\\.zim.*"/>
            	<data android:pathPattern=".*\\..*\\..*\\..*\\.zim.*"/>
            	<data android:mimeType="*/*" />
  			</intent-filter>
        </activity>
        <activity android:name=".KiwixSettings">
        </activity>
		  <provider
				android:name=".ZimContentProvider"
				android:authorities="org.kiwix.zim"
				android:exported="false"/>
		
     <activity
    android:name=".ZimFileSelectActivity"
    android:icon="@drawable/kiwix_icon"
    android:label="@string/choose_file" >
        <!-- TODO -->
        <intent-filter>
            <action android:name="android.intent.action.GET_CONTENT" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.OPENABLE" />

            <data android:mimeType="*/*" />
        </intent-filter>
    </activity>
    </application>
</manifest>