<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.kiwix.kiwixmobile.core"
  android:installLocation="auto">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <!-- Device with versions >= Pie need this permission -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


  <application
    android:allowBackup="true"
    android:extractNativeLibs="false"
    android:fullBackupContent="@xml/backup_rules"
    android:hardwareAccelerated="true"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/KiwixTheme"
    android:usesCleartextTraffic="true"
    tools:targetApi="m">

    <activity
      android:name=".search.SearchActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity android:name="org.kiwix.kiwixmobile.core.page.bookmark.BookmarksActivity" />

    <activity
      android:name=".error.ErrorActivity"
      android:process=":error_activity" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>

    <activity android:name="org.kiwix.kiwixmobile.core.page.history.HistoryActivity" />
    <activity android:name=".help.HelpActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".main.CoreMainActivity" />
    </activity>
    <activity android:name=".error.DiagnosticReportActivity" />

  </application>
</manifest>
