<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.kiwix.kiwixmobile.core"
  android:installLocation="auto">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />

  <!-- Device with versions >= Pie need this permission -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


  <application
    android:allowBackup="true"
    android:extractNativeLibs="false"
    android:fullBackupContent="@xml/backup_rules"
    android:hardwareAccelerated="true"
    android:resizeableActivity="true"
    android:supportsRtl="true"
    android:theme="@style/KiwixTheme"
    android:usesCleartextTraffic="true"
    android:requestLegacyExternalStorage="true"
    tools:targetApi="q">

    <!-- Version < 3.0. DeX Mode and Screen Mirroring support -->
    <meta-data
      android:name="com.samsung.android.keepalive.density"
      android:value="true" />
    <!-- Version >= 3.0. DeX Dual Mode support -->
    <meta-data
      android:name="com.samsung.android.multidisplay.keep_process_alive"
      android:value="true" />

    <activity
      android:name=".error.ErrorActivity"
      android:process=":error_activity" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>

    <activity android:name=".error.DiagnosticReportActivity" />

  </application>
</manifest>
