<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.kiwix.kiwixmobile.custom">


  <application android:name=".CustomApp">

    <activity
      android:name=".main.CustomMainActivity"
      android:configChanges="orientation|keyboardHidden|screenSize|locale"
      android:label="@string/app_name"
      android:windowSoftInputMode="adjustPan">

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="search"
          android:scheme="kiwix" />
      </intent-filter>
      <intent-filter android:label="@string/app_search_string">
        <action android:name="android.intent.action.PROCESS_TEXT" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="org.kiwix.kiwixmobile.core.main.CoreMainActivity" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".settings.CustomSettingsActivity">
      <intent-filter>
        <action android:name="org.kiwix.kiwixmobile.core.settings.CoreSettingsActivity" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".download.CustomDownloadActivity" />
  </application>
</manifest>
