<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.kiwix.kiwixmobile">

  <application
    android:name=".KiwixApp"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round">
    <activity
      android:name=".main.KiwixMainActivity"
      android:configChanges="orientation|keyboardHidden|screenSize|locale"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:scheme="content" />
        <data android:mimeType="application/octet-stream" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="file" />
        <data android:mimeType="*/*" />
        <data android:pathPattern=".*\\.zim" />
        <data android:pathPattern=".*\\..*\\.zim" />
        <data android:pathPattern=".*\\..*\\..*\\.zim" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zim" />
        <data android:host="*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="file" />
        <data android:mimeType="*/*" />
        <data android:pathPattern=".*\\.zimaa" />
        <data android:pathPattern=".*\\..*\\.zimaa" />
        <data android:pathPattern=".*\\..*\\..*\\.zimaa" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zimaa" />
        <data android:host="*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zim(aa|)" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="https" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zim(aa|)" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="content" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\.zim(aa|)" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zim(aa|)" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="search"
          android:scheme="kiwix" />
      </intent-filter>
      <intent-filter android:label="@string/app_search_string">
        <action android:name="android.intent.action.PROCESS_TEXT" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="org.kiwix.kiwixmobile.core.main.CoreMainActivity" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".settings.KiwixSettingsActivity">
      <intent-filter>
        <action android:name="org.kiwix.kiwixmobile.core.settings.CoreSettingsActivity" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity
      android:name=".zim_manager.ZimManageActivity"
      android:label="@string/choose_file"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.TEXT_CLICKED" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.ICON_CLICKED" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.MIC_CLICKED" />
        <action android:name="org.kiwix.kiwixmobile.utils.KiwixSearchWidget.STAR_CLICKED" />
      </intent-filter>
    </activity>
    <activity android:name=".language.LanguageActivity" />
    <activity
      android:name=".local_file_transfer.LocalFileTransferActivity"
      android:label="Send to nearby device"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="application/octet-stream" />
        <data android:pathPattern=".*\\.zim" />
        <data android:pathPattern=".*\\..*\\.zim" />
        <data android:pathPattern=".*\\..*\\..*\\.zim" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.zim" />
        <data android:host="*" />
      </intent-filter>
    </activity>
  </application>
</manifest>
