name: Nightly

on:
  schedule:
    # every night at midnight
    - cron:  '0 0 * * *'

jobs:

  release:
    runs-on: ubuntu-22.04
    steps:

      - name: checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: build debug
        run: ./gradlew assembleNightly

      - name: Decrypt files
        env:
          ssh_key: ${{ secrets.ssh_key }}
        run: |
          echo "$ssh_key" | base64 -d > ssh_key
          chmod 600 ssh_key

      - name: Set date variable
        run: echo "DATE=$(echo $(date +%Y-%m-%d))" >> $GITHUB_ENV

      - name: release debug to kiwix.download.org
        env:
          UNIVERSAL_DEBUG_APK: app/build/outputs/apk/nightly/*universal*.apk
        run: |
          mkdir $DATE
          cp $UNIVERSAL_DEBUG_APK $DATE
          scp -P 30022 -vrp -i ssh_key -o StrictHostKeyChecking=no $DATE ci@master.download.kiwix.org:/data/download/nightly/
